body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#lockScreen {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

#lockScreen input {
  padding: 10px;
  width: 80%;
  margin-top: 10px;
}

#lockScreen button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #ff4d6d;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  z-index: 2;
}

.slider img {
  width: 100%;
  border-radius: 12px;
}

.revealBtn {
  margin-top: 15px;
  padding: 10px 15px;
  background: #ff4d6d;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#secretMessage {
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
